body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  text-align: center;
}

.input-section,
.summary-section {
  margin: 20px 0;
}

label {
  margin-right: 10px;
}

input,
select,
button {
  margin: 5px;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
.sort-icon {
  font-size: 0.8rem;
  margin-left: 20px;
}
.date-section {
  margin: 20px 0;
}

.header-section .h1-text {
  display: inline;
  background-color: aqua;
  margin-left: 200px;
  padding: 20px;
}
.header-section input {
  display: inline;
  background-color: burlywood;
}
.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: brown;
}
.header-section .input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.header-section .input-row {
  display: flex;
  align-items: center;
  width: 100%;
}

input[readonly] {
  background-color: #e9ecef;
  cursor: pointer; /* Change cursor to pointer (hand) */
}
#saveButton {
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}
.error {
  color: red;
  margin-top: 5px;
  display: none;
}
.input-container {
  /* background-color: #beaced; */
  margin-left: 300px;
  width: 100%;
}
#addExpenseButton {
  display: none;
}
.input-section {
  background-color: #8d949b;
  display: flex;
}
